.vs/Bot-Discord.slnx/FileContentIndex/427c8fc5-5801-4f98-ad24-c429e2f3410d.vsidx
.vs/Bot-Discord.slnx/FileContentIndex/6d29515f-4a2b-4d78-829a-13b14738c926.vsidx
.vs/Bot-Discord.slnx/FileContentIndex/d5d3592a-43bc-43c8-a7df-7c6e261b032e.vsidx
.vs/Bot-Discord.slnx/FileContentIndex/fc5ed7a8-e339-4741-ac2b-a0ed8908810b.vsidx
/.vs/Bot-Discord.slnx/FileContentIndex
Bot-Discord/.env
/.vs/Bot-Discord.slnx/v18
